/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction:column;
}

/* Content Styles */
.content {
    display: flex;
    flex-direction:column;
    align-items: center;
}

/* Top Section */
.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo-details {
    font-size: 24px;
    font-weight: bold;
}

/* Link Boxes */
.link-boxes {
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.link-boxes div {
   color: white;
	
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  padding-bottom: 10px;
}

.link-boxes h3 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

/* Contact Section */
.contact {
    margin: 20px 0;
}

/* Media Icons */
.media-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.media-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

/* Bottom Details */
.bottom-details {
   display: flex;
  justify-content: space-between;
   
  padding: 10px 20px;
  color: #ccc; /* light text */
  font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .link-boxes {
        flex-direction: column;
        align-items: center;
    }

    .link-boxes div {
        margin: 10px 0;
    }
}